/* RESET & GENERIQUE */

body{
    margin:0;
    padding:0;
    background-color: #f7f1eb;
}

ul{
    margin:0;
    padding:0;
}

img{
    height: auto;
    max-width: 100%;
}

#profil{
    margin-left: 15%;
    margin-right: 15%;
}


#menubar{
    background-color: rgb(177, 149, 108);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

.carousel {
    width: 80vw;
    transform: translateX(10vw);
    margin-top: 1%;
    margin-bottom: 1%;
}

#divGardien{

    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80vw;
    height: 80vh;
    background-color: honeydew;
}

#title{
    margin-left: 1.5%;
    width: 20%;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu li {
    width: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    list-style: none;
    border-radius: 5px;
    margin-left: 0.5%;   
    margin-right: 0.5%; 
}

.menu li a{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

#formID{
    width: 90vw;
    display: flex;
    justify-content: center;
}

.form{
    min-width: 50vw;
}

#typeAnnonce{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:768px){
    #formID{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
    }

    .form{
        min-width: 90vw;
    }
}

#filtres{
    display: none;
}

.container{
    margin-left: 5vw;
    margin-right: 5vw;
}

#prefere{
    margin-bottom: 2%;
}

.gardiens{
    min-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.gardiens li{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
}

.gardiens li a{
    color: black;
    text-decoration: none;

}

.gardiens li button{
    width: 100%;
}


    
.card{
    width :15vw;
}

#enTeteProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#enTeteProfil button{
    height: 3vh;
}

#search{
    border: solid rgb(82, 65, 41);
    background-color: rgb(177, 149, 108);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding: .8%;
    border-radius: 20px;
}

#search form{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

#search form div{
    background-color: #8C6B4D;
    padding: 0.75%;
    border-radius: 5px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}


#dogs_index{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 3%;
    margin-bottom: 3%;
}

/* Flexbox-based solution: */
.images--flex {
  width: 100%;
  display: flex; 
}

.images--flex > * {
  flex: 1;
}

.images--flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images--flex__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.images--flex__inner > img {
    width: 50%;
    height: 50%;
  }

#specification {

    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: 2px solid rgb(172, 172, 172);
}

#description {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#description p{

    margin-right: 5vw;
    text-align: justify;
}

#footer{
    
    background-color: rgb(177, 149, 108);
    margin-top: 3%;
    padding: 1%;
}

#footer ul{
    margin-right: 5%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
}

footer li{
    margin-left: 5%;
}

footer li a {
    text-decoration: none;
    color: black;
}

.btn-primary{
    background-color: #8C6B4D;
    color: white;
    border: none;
    
}

.btn-primary:hover{
    background-color: #4b3118;
    color: white;
    border: none;
    
}

.btn-primary:active{
    background-color: #6d4017;
    color: white;
    border: none;
    
}

/* FORMULAIRES */

/* FORMULAIRE DE LA PAGE AIDE */

#contact {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 80vw;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 2em;
  }
  
  #contact div + div {
    margin-top: 1em;
  }
  
  #contact label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  #contact input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 70vw;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  #contact input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  #contact textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }
  
  #contact .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
  }
  
  #contact button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
  }

/* MEDIA */

@media screen and (max-width:1920px){
    .photo_gardien{
        width: 50%;
    }

    #search{
    
        margin-left: 5%;
        margin-right: 5%;
    }

    .gardiens{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}

@media screen and (max-width:1200px){

    #typeAnnonce{
        display: flex;
        flex-direction: column;
    }

    #profil{
        margin-left: 5%;
        margin-right: 5%;
    }

    .carousel{
        width: 100vw;
        transform: translateX(0);
    }

    #search{
    
        margin-left: 5%;
        margin-right: 5%;
    }


    #search form{
    width: 97%;
    min-width: 97%;
    display: flex;
    flex-direction: column;
}

#search form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

#search form div input {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
  }

  #search form button {
    width: 50%;
    transform: translate(50%);
    text-align: center;
  }

  .gardiens li{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.gardiens{
    flex-direction: column;
    align-items: center;
}


    
.card{
    width :85vw;
}

#prefere{
    text-align: center;
}



}

@media screen and (max-width:768px){
    .photo_gardien{
        width: 50%;
    }

    #profil{
        margin-left: 2%;
        margin-right: 2%;
    }
    
    #description{
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    #description form{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        align-items: center;
    }

    #description form div{
        margin-bottom: 3%;
    }
}